doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title image-streamer

        // CSS
        link(href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", rel="stylesheet")
        style.
            body {
                /*font-family: Verdana;*/
                /*font-size: 13px;*/
                background-color: black;
                color: #eee;
            }

            .panel-default > .panel-heading {
                background-color: black;
                color: #eee;
            }

            .panel {
                background: black;
                color: #eee;
            }

            .btn {
                background: black;
                color: #eee;
            }
        // jQuery
        script(src="http://code.jquery.com/jquery.js")
        // Bootstrap JavaScript
        script(src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
        script(src="/socket.io/socket.io.js")
        script.
            var socket = io();

            socket.on('camera-measurement', function (data) {
                $('#camera').attr('src', data);
            });
            socket.on('am2302-measurement', function (data) {
                //console.log(data);
                $('#temp-humidity').html(Math.floor(data[0])+ '/' +Math.floor(data[0] * (9/5)+ 32) + '&deg;,  ' + Math.floor(data[1]) + '%');
            });
            socket.on('wind-vane-measurement', function (data) {
                $('#wind-direction').html(data);
            });
            socket.on('anemometer-measurement', function (data) {
                $('#wind-speed').html(data);
            });
            socket.on('camera-gimbal-moved', function (data) {
                $('#gimbal-compass').html(data.compass);
                $('#gimbal-pitch').html(data.pitch);

            });
            socket.on('number-of-clients-changed', function (data) {
                $('#number-of-clients').html(data);
	
            });
            socket.on('on-start-measurement-stream', function (state) {
                $('#wind-direction').html(state.wind.direction);
                $('#wind-speed').html(state.wind.mph);
                //$('#gimbal-compass').html(state.camera.compass);
                //$('#gimbal-pitch').html(state.camera.pitch);
                $('#number-of-clients').html(state.numberOfClients);

            });

            socket.emit('start-measurement-stream');

            var up = function () {
                console.log('up')
                $.get("/gimbal", {direction: 'up'});
            }
            var right = function () {
                $.get("/gimbal", {direction: 'right'});
            }
            var down = function() {
                $.get("/gimbal", {direction: 'down'});
            }
            var left = function () {
                $.get("/gimbal", {direction: 'left'});
            }



bodyt
    .container
        img#camera.img-responsive(src="")
        .panel.panel-default
            //.panel-heading= title + " : " + version
            //.panel-body
            table.table
                tr
                    th sensor
                    th measurement
                    th unit
                    th actions
                tr
                    td am2302
                    td
                        #temp-humidity
                    td celsius/fahrenheit, percent
                    td
                tr
                    td anemometer
                    td
                        #wind-speed
                    td mph
                    td
                tr
                    td vane
                    td
                        #wind-direction
                    td degrees
                    td
                tr
                    td camera-gimbal
                    td
                        #gimbal-compass
                        #gimbal-pitch
                    td degrees
                    td
                        .btn-group
                            .btn.btn-default.btn-sm(onclick='up()')
                                span.glyphicon.glyphicon-arrow-up
                            .btn.btn-default.btn-sm(onclick='right()')
                                span.glyphicon.glyphicon-arrow-right
                            .btn.btn-default.btn-sm(onclick='down()')
                                span.glyphicon.glyphicon-arrow-down
                            .btn.btn-default.btn-sm(onclick='left()')
                                span.glyphicon.glyphicon-arrow-left
                tr
                    td number of clients
                    td
                        #number-of-clients
                    td int
                    td


