html
    head
        title!= title
    body
        h1!= message
        a(class='button', href='http://guerneville.dyndns.org:' + port + '/toggle') on|off
        a(class='button', href='http://guerneville.dyndns.org:' + port + '/current-temp') Current Temp